body {
    font-family: Arial, sans-serif;
    background-color: #DECDF5; /* Fundo lilás claro */
    color: #452F75; /* Roxo escuro para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2cc0c5; /* Azul pastel */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #452F75; /* Roxo escuro */
}

/* Estilos para mensagens do servidor */
.mensagem-servidor {
    background-color: #EC73C0; /* Rosa vibrante */
    color: #452F75; /* Roxo escuro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #dab3e8; /* Lilás pastel */
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c9a0e5; /* Lilás ligeiramente mais escuro */
}

.btn-edit {
    background-color: #a6d8f0; /* Azul pastel */
}

.btn-edit:hover {
    background-color: #87c5e6; /* Azul um pouco mais escuro */
}

.btn-delete {
    background-color: #f0a6c1; /* Rosa pastel */
}

.btn-delete:hover {
    background-color: #e08cb2; /* Rosa mais escuro */
}

/* Formulários */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    width: 70%;
    border: 1px solid #dab3e8; /* Lilás pastel */
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #fdf6ff; /* Branco com tom lilás */
    color: #452F75;
}

.search-form button {
    border-radius: 0 5px 5px 0;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #DECDF5; /* Fundo lilás claro */
    color: #452F75; /* Roxo escuro */
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #6247AA; /* Roxo moderado */
}

th {
    background-color: #6247AA; /* Roxo moderado */
    color: #ffffff;
}

td {
    background-color: #2cc0c5; /* Azul pastel */
}

tbody tr:nth-child(odd) {
    background-color: #DECDF5; /* Lilás claro */
}

tbody tr:nth-child(even) {
    background-color: #EC73C0; /* Rosa vibrante */
}

tbody tr:hover {
    background-color: #2cc0c5; /* Azul pastel */
}